dialog.JiA134qZm1 {
  --gutter: 10px;
  --dialog_h: 90vh;
  --dialog_w: 90vw;
  font-family: sans-serif;
  font-size: medium;
  height: var(--dialog_h);
  width: var(--dialog_w);
  padding: 0;
}

.JiA134qZm1 form input {
  margin: 0;
  padding: 0 .3em;
}

.JiA134qZm1 form {
  display: flex;
  padding: var(--gutter);
  margin: 0;
}
.JiA134qZm1 form input[name="text"] {
  height: 2em;
  margin: 0 calc(var(--gutter)/2);
  flex: 1;
}

.JiA134qZm1 #container { padding: 0 var(--gutter) var(--gutter); }
.JiA134qZm1 #qr { height: calc(var(--dialog_h) - var(--gutter)*3 - 2em); }
